[submodule "common"]
	path = common
	url = git@github.com:lhr-solar/UTSVT-KiCadLibraries.git
[submodule "UTSVT-KiCadLibraries"]
	path = UTSVT-KiCadLibraries
	url = git@github.com:lhr-solar/UTSVT-KiCadLibraries.git
